<div class="course-card"
     [ngClass]="{'card-enrolled': course.enrolled, 'card-full': course.credits >= 4}"
     [ngStyle]="{'border-left': course.gradeStatus === 'passed' ? '5px solid green' :
                   course.gradeStatus === 'failed' ? '5px solid red' :
                   '5px solid grey'
  }">
  <h3>{{ course.name }}</h3>
  <p>Course ID: {{ course.id }}</p>
  <p>Code: {{ course.code }}</p>
  <p>Credits: {{ course.credits }}</p>
  <div [ngSwitch]="course.gradeStatus">
  <p *ngSwitchCase="'passed'">Passed</p>
  <p *ngSwitchCase="'failed'">Failed</p>
  <p *ngSwitchCase="'pending'">Pending</p>
</div>
  <button (click)="onEnroll()">Enroll</button>
</div>